<!-- <h1> {{ title }} </h1>
<hr> -->
<!-- <app-counter></app-counter>

<app-heroes-hero></app-heroes-hero>

<app-heroes-list></app-heroes-list> -->

<!-- <app-dbz-main-page></app-dbz-main-page> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>SupplyNet</title>
</head>
<body>
    <header class="h1 d-flex justify-content-center">
        <p class="text-primary font-italic">SupplyNet</p>
    </header>

    <app-item-page></app-item-page>    
</body>
</html>